
.Main-header {
  /* background-color: #222; */ 
  /* background-image: url("./images/8900087-elementi-del-film.jpg");   */
  background-repeat: no-repeat;
  background-color: greenyellow;
  /* height: 100vh; */
  /* padding: 20px; */
  color: black;
  border: 2px;
  
}
.AppTitle {
  font-size: 5em;
  font-family: 'Great Vibes', cursive;
  /* background-color: yellow */
}

.SearchButton{
  width: 180px;
  height: 80px;
  border-radius: 8px;
  border-style: double;
  font-size: 22px;
  background-color: rgb(219, 219, 159);
 
}